/*
html,body,div,ul,li,img,a{
    margin:0;
    padding:0;
}
ul{list-style: none;}
.banner{
    position: relative;
    width: 600px;
    height: 400px;
    margin: 5px auto;
    box-shadow: 5px 5px 10px #000;
    background: url("../img/default.gif") no-repeat center #ccc;
}
.banner .bannerInner{
    width: 100%;
    height: 100%;
}
.banner .bannerInner div{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
}
.banner .bannerInner div img{
    border: none;
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.banner .focusUl{
    position: absolute;
    right:20px;
    bottom: 20px;
    font-size: 0;
    z-index: 99;
}
.banner .focusUl li{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin:0 3px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.banner .focusUl .cur{
    background: pink;
}
.banner .left,.banner .right{
    display: none;
    position: absolute;
    width: 30px;
    height: 40px;
    top:50%;
    margin-top: -20px;
    background: url("../img/pre.png") no-repeat;
    z-index: 99;
}
.banner .left{
    left:0;
}
.banner .right{
    right: 0;
    background-position: -47px 0;
}*/

*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
.banner{
    position: relative;
    width: 600px;
    height: 400px;
    margin: 5px auto;
    box-shadow: 5px 5px 10px #000;
    background: url("../img/default.gif") no-repeat center #ccc;
}
.banner .bannerInner{
    width: 100%;
    height: 100%;
}
.banner .bannerInner div{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
}
.banner .bannerInner div img{
    border: none;
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.banner .focusUl{
    position: absolute;
    right:20px;
    bottom: 20px;
    font-size: 0;
    z-index: 99;
}
.banner .focusUl li{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
}
.banner .focusUl li.cur{
    background: lightcoral;
}
.banner .left,.banner .right{
    display: none;
    position: absolute;
    width: 30px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    background: url("../img/pre.png") no-repeat ;
    z-index: 99;
}
.banner .left{
    left: 0;
}
.banner .right{
    right: 0;
    background-position: -47px 0;
}
